# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/OpenGL/v16/ipch/AutoPCH/f1b44f4c57dec678/VERTEXBUFFERLAYOUT.ipch
.vs/OpenGL/v16/ipch/AutoPCH/db916c65b33576cf/RENDERER.ipch
.vs/OpenGL/v16/ipch/AutoPCH/c9896b450b4f98b1/VERTEXBUFFER.ipch
.vs/OpenGL/v16/ipch/AutoPCH/83ece1c4e7df80b3/VERTEXARRAY.ipch
.vs/OpenGL/v16/ipch/AutoPCH/793c3825a98eee63/APPLICATION.ipch
.vs/OpenGL/v16/ipch/AutoPCH/6241818bc0d77277/INDEXBUFFER.ipch
.vs/OpenGL/v16/ipch/AutoPCH/6027aa1e15e2e470/VERTEXARRAY.ipch
.vs/OpenGL/v16/ipch/AutoPCH/2fe00637b816865c/RENDERER.ipch
.vs/OpenGL/v16/Browse.VC.db
.vs/OpenGL/v16/.suo
Debug/OpenGL.Build.CppClean.log
Debug/OpenGL.ilk
Debug/OpenGL.log
Debug/OpenGL.pdb
Debug/OpenGL.tlog/CL.command.1.tlog
Debug/OpenGL.tlog/CL.read.1.tlog
Debug/OpenGL.tlog/CL.write.1.tlog
Debug/OpenGL.tlog/link.command.1.tlog
Debug/OpenGL.tlog/link.read.1.tlog
Debug/OpenGL.tlog/link.write.1.tlog
Debug/OpenGL.tlog/OpenGL.lastbuildstate
Debug/OpenGL.tlog/unsuccessfulbuild
Debug/OpenGL.vcxproj.FileListAbsolute.txt
Debug/vc142.idb
Debug/vc142.pdb
dependencies/include/GLEW/doc/advanced.html
dependencies/include/GLEW/doc/basic.html
dependencies/include/GLEW/doc/build.html
dependencies/include/GLEW/doc/credits.html
dependencies/include/GLEW/doc/github.png
dependencies/include/GLEW/doc/glew.css
dependencies/include/GLEW/doc/glew.html
dependencies/include/GLEW/doc/glew.png
dependencies/include/GLEW/doc/glew.txt
dependencies/include/GLEW/doc/glxew.html
dependencies/include/GLEW/doc/gpl.txt
dependencies/include/GLEW/doc/index.html
dependencies/include/GLEW/doc/install.html
dependencies/include/GLEW/doc/khronos.txt
dependencies/include/GLEW/doc/log.html
dependencies/include/GLEW/doc/mesa.txt
dependencies/include/GLEW/doc/new.png
dependencies/include/GLEW/doc/ogl_sm.jpg
dependencies/include/GLEW/doc/travis.png
dependencies/include/GLEW/doc/wglew.html
dependencies/include/GLEW/include/GL/eglew.h
dependencies/include/GLEW/include/GL/glew.h
dependencies/include/GLEW/include/GL/glxew.h
dependencies/include/GLEW/include/GL/wglew.h
dependencies/include/GLEW/LICENSE.txt
dependencies/include/GLFW/glfw3.h
dependencies/include/GLFW/glfw3native.h
